<div class="container">
  <p>First Name: <%= @student.first_name.capitalize %></p>
  <p>Last Name: <%= @student.last_name.capitalize %></p>
  <p>House: <%= @student.house.name.capitalize %></p>
  <p>Age: <%= @student.age %></p>
</div>
<p><a href="/students/<%= @student.id %>/edit">Edit</a></p>
<form  action="/students/<%= @student.id %>/delete" method="post">
  <input type="submit" value="Delete Student">
</form>
<hr>
<a href="/students"><< Back to results</a>
